/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*IE 9 fix on selectors*/
.mktoForm select.mktoField{
	padding-right:0.3em\9\0\ !important;
}

.placeholder{
	display:none\9\0\ !important;
}

/*custom css*/

.mktoFormRow {
	display: table-row;    
}


.mktoForm .mktoLabel {
	float: left;
	line-height: 1.2em;
	padding-top: .3em;
	font-size: 14px;
	font-weight: normal !important;
	margin-bottom: 4px;
	color: white;
}

.mktoForm .mktoRadioList
{
	padding-left: 0px !important;
}


.mktoForm .mktoCheckboxList
{
	color:white;
	font-size: 13px;
}


.mktoForm .mktoCheckboxList>input
{
	margin-top: 2px !important;
}

input.mktoLabel,  input.mktoField{
	color: rgb(40, 40, 40) !important;
}

form.mktoForm {
	font-size: 12px !important;
}


label.mktoLabel{
	width:initial;
	font-size: 14px;
	font-weight: 400 !important;
	margin-bottom: 4px;
}



div.mktoAsterix{
	float: right !important;
}

.mktoForm input.mktoField.mktoInvalid, 
.mktoForm textarea.mktoField.mktoInvalid, 
.mktoForm select.mktoField.mktoInvalid, 
.mktoForm .mktoLogicalField.mktoInvalid {
	border: 1px solid #c20!important;
	outline:0;
	border-color: rgba(204, 34, 0, .6)!important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 34, 0,.4)!important;
}



div.mktoButtonRow{
	margin-top:10px !important;
	text-align: center !important;
	width: 100%;
}


.mktoButtonRow span.mktoButtonWrap{
	margin: 0px !important;
}


.mktoButton {
	border: 0px !important;
	display: inline-block !important;  
	font-family: 'myriad-pro', Arial, sans-serif !important;
	padding: 10px 20px !important;  
	margin-bottom: 0 !important;    
	font-weight: normal !important;  
	line-height: inherit !important;  
	text-align: center !important;  
	white-space: nowrap !important;  
	vertical-align: middle !important;  
	cursor: pointer !important;  
	margin: 0 !important;
	color: white !important;
	font-size: 18px !important;
	background-color: #0088cc !important;
	background-image: -moz-linear-gradient(top, #0088cc, #0066aa) !important;  
	background-image: -ms-linear-gradient(top, #0088cc, #0066aa) !important;  
	background-image: -o-linear-gradient(top, #0088cc, #0066aa) !important;  
	background-image: -webkit-gradient(linear, center top, center bottom, from(#0088cc), to(#0066aa)) !important;
	background-image: -webkit-linear-gradient(top, #0088cc, #0066aa) !important;  
	background-image: linear-gradient(top, #0088cc, #0066aa) !important; 
	-moz-border-radius: 5px !important;  -webkit-border-radius: 5px !important;  border-radius: 5px !important;
}

.mktoForm .mktoButtonWrap.mktoShadow .mktoButton {
	padding: 0px 20px;  
}


.mktoButton:hover {
	filter: none !important;
	background-image: none !important;
	color: white !important;
}
.mktoButton-:active {
	background-color: #0066aa !important;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm select.mktoField,
.mktoForm textarea.mktoField,
.mktoForm input[type=checkbox] + label:before,
.mktoForm input[type=radio] + label:before
{
	box-shadow:none!important;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px!important;
	height: 2.2em!important;
	line-height: 1.5em;
	font-size: 14px!important;
	margin-top:4px!important;
	margin-bottom: 5px!important;
	transition: border linear .2s, box-shadow linear .2s;
}


.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm input[type=checkbox] + label:before,
.mktoForm input[type=radio] + label:before
{
	padding-left:7px !important;
}

.mktoForm select.mktoField[multiple=multiple] 
{
	height: auto!important;
}


.mktoForm select>option{
	border-bottom:1px solid rgb(233,233,233);
	white-space: pre-wrap;
}


.mktoForm input:focus, .mktoForm select:focus
{
	outline:0;
	border-color: rgba(82, 168, 236, .8)!important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,1)!important;
}


.mktoForm .mktoError, .mktoForm .mktoAsterix
{
	display:none!important
}

div.Form_1{
	position:relative !important;
	width:100% !important;
}
div.Form_2{
	position:relative !important;
	width:100% !important;
}

div.lpeCElement{
	position:relative !important;
	width:auto !important;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100% !important;
}



/*mobile version*/
@media only screen and (max-width: 480px){
	div#outerWrapDiv {
		width: 100% !important;
	}

	.mktoForm{
		padding:0px 10px !important;
	}

	div.Rich_Text_1{
		margin: 0;
		padding-top: 0;
	}
	
	.mktoForm .mktoFormRow {
		display: block !important; 
		margin: 0px 35px;
	}

	.mktoForm select>option {
		padding-left: 5px;
		border-bottom:1px solid rgb(233,233,233);
		white-space: pre-wrap;
	}

}




