/*
cache invalidator 

v=201510021536
*/
.navigation-outter {
    width: 100%;
    overflow: hidden
}
.navigation-inner {
    height: 50px;
    position: relative;
    z-index: 999
}
.navigation-wrapper {
    padding-top: 30px
}
.navigation {
    position: asbolute;
    width: 9999px;
    background-color: #000;
    height: 50px
}
.navigation-bar-section.navigation-bar-tail-spacer a, .navigation-items {
    position: relative
}
.navigation-longtail {
    width: 99999px;
    height: auto
}
.navigation-longtail-end {
    width: 9999px;
    height: 50px;
    background-color: #000;
    float: left;
}
.navigation-bar-section {
    float: left;
    background-color: #000;
    height: 50px
}
.navigation-items {
    font-family: myriad-pro, Arial, sans-serif;
    height: 50px;
    float: left;
}
.navigation-search-outter {
    overflow-x: hidden;
    position: absolute;
    right: 0;
    padding-left: 0
}
.navigation-bar, .sub-navigation-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block
}
.sub-navigation-bar {
    float: right
}
.navigation-bar ul li, .sub-navigation-bar ul li {
    display: block;
    float: left;
    text-align: center;
    box-sizing: border-box
}
span[id*=ListSection] {
    display: inline-block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
}
.navigation-bar li, .sub-navigation-bar li {
    margin: 0;
    padding: 0;
    float: left;
    width: auto;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.navigation-bar li a {
    margin: 0;
    padding: 0 15px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #ccc;
    overflow: hidden;
    position: relative;
    z-index: 999;
    font-size: 15px;
    letter-spacing: .05em;
}
.navigation-bar li.active a {
    color: #fff;
    position: relative;
    z-index: 999;
}
.navigation-bar li:not(.get-started) a:hover:before {
    color: #000;
    content: "";
    position: absolute;
    bottom: -90px;
    border-width: 100px;
    border-color: #000 #000 rgba(255,255,255,0);
    display: block;
    z-index: 999;
    border-style: solid;
    width: 0;
    left: 50%;
    margin-left: -100px;
}
.navigation-bar li.active:before {
    color: #000;
    content: "";
    position: absolute;
    bottom: -90px;
    border-width: 100px;
    border-color: #000 #000 rgba(255,255,255,0);
    display: block;
    z-index: 999;
    border-style: solid;
    width: 0;
    left: 50%;
    margin-left: -100px;
}
body.mega-menu .navigation-bar li.active:before,
body.mega-menu .navigation-bar li:not(.get-started) a:hover:before  {
    border-color: #000 #000 rgb(255, 255, 255);
}

.navigation-bar li.get-started a {
    padding: 4px 15px;
    line-height: 25px;
    font-size: 14px
}
.navigation-bar li.get-started a:hover {
    text-decoration: none;
    background-color: #c20;
    border-radius: 5px
}
.sub-navigation-bar li a {
    font-family: myriad-pro, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: gray;
    margin-left: 30px;
}
.sub-navigation-bar li a:hover {
    color: #c20;
    text-decoration: none
}
.sub-navigation-bar li.active a {
    font-weight: 600;
    border-bottom: 1px solid gray
}
.navigation-bar-tail-logo {
    margin-left: -82px
}
ul.navigation-bar {
    height: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
            -webkit-align-content: space-between;
            align-content: space-between;
    width: 840px;
    box-sizing: border-box;
    background-color: black;
}
span.spacer-bg {
    background-color: #000;
    height: 50px;
    width: 95px;
    display: inline-block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: inline-block\9;
}
ul.navigation-bar li:not(.active) a:not(:hover) {
    background-color: black;
}
.navigation-bar li a span {
    position: relative;
    z-index: 999;
}
li.get-started {
    background-color: black;
    height: 50px;
}
li.get-started a {
    margin-top: 10px;
}
.search_field {
    display: inline-block;
    border-radius: 2px;
    background-color: #FFF;
    margin-top: 3px;
    margin-right: 10px;
    border: 1px solid #79868A;
}
.search_field input {
    border: none;
    padding: 0;
    background: transparent
}
.search_field .button {
    border: none;
    background: none;
    background: url(/cms_backoffice/assets/201510021536/icons) no-repeat -1px -1px;
    width: 14px;
    height: 15px;
    border: 0;
    cursor: pointer;
    padding-right: 18px
}
.search_field .button:hover {
    background: url(/cms_backoffice/assets/201510021536/icons) no-repeat -1px -21px;
    width: 14px;
    height: 15px
}
input.search {    /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
    box-sizing: border-box;    /* Opera/IE 8+ */
    height: 20px;
    color: #CCC;
    font-family: Arial, sans-serif;
    font-size: 13px;
    width: 100px;
    padding-left: 4px
}

/*common*/
.top10 {
    margin-top: 10px
}
.top20 {
    margin-top: 20px
}
.top30 {
    margin-top: 30px
}
.top40 {
    margin-top: 40px
}
.top50 {
    margin-top: 50px
}
.top60 {
    margin-top: 60px
}
.top70 {
    margin-top: 70px
}
.top80 {
    margin-top: 80px
}
.top90 {
    margin-top: 90px
}
.top100 {
    margin-top: 100px
}
.bot10 {
    margin-bottom: 10px
}
.bot20 {
    margin-bottom: 20px
}
.bot30 {
    margin-bottom: 30px
}
.bot35 {
    margin-bottom: 35px
}
.bot40 {
    margin-bottom: 40px
}
.bot50 {
    margin-bottom: 50px
}
.bot60 {
    margin-bottom: 60px
}
.bot70 {
    margin-bottom: 70px
}
.bot80 {
    margin-bottom: 80px
}
.bot90 {
    margin-bottom: 90px
}
.bot100 {
    margin-bottom: 100px
}
.left10 {
    margin-left: 10px
}
.left20 {
    margin-left: 20px
}
.left30 {
    margin-left: 30px
}
.left40 {
    margin-left: 40px
}
.left50 {
    margin-left: 50px
}
.left60 {
    margin-left: 60px
}
.left70 {
    margin-left: 70px
}
.left80 {
    margin-left: 80px
}
.left90 {
    margin-left: 90px
}
.left100 {
    margin-left: 100px
}
.right10 {
    margin-right: 10px
}
.right20 {
    margin-right: 20px
}
.right30 {
    margin-right: 30px
}
.right40 {
    margin-right: 40px
}
.right50 {
    margin-right: 50px
}
.right60 {
    margin-right: 60px
}
.right70 {
    margin-right: 70px
}
.right80 {
    margin-right: 80px
}
.right90 {
    margin-right: 90px
}
.right100 {
    margin-right: 100px
}
.top-10 {
    margin-top: -10px
}
.top-20 {
    margin-top: -20px
}
.top-30 {
    margin-top: -30px
}
.top-40 {
    margin-top: -40px
}
.top-50 {
    margin-top: -50px
}
.top-60 {
    margin-top: -60px
}
.top-70 {
    margin-top: -70px
}
.top-80 {
    margin-top: -80px
}
.top-90 {
    margin-top: -90px
}
.top-100 {
    margin-top: -100px
}
.bot-10 {
    margin-bottom: -10px
}
.bot-20 {
    margin-bottom: -20px
}
.bot-30 {
    margin-bottom: -30px
}
.bot-40 {
    margin-bottom: -40px
}
.bot-50 {
    margin-bottom: -50px
}
.bot-60 {
    margin-bottom: -60px
}
.bot-70 {
    margin-bottom: -70px
}
.bot-80 {
    margin-bottom: -80px
}
.bot-90 {
    margin-bottom: -90px
}
.bot-100 {
    margin-bottom: -100px
}
.left-10 {
    margin-left: -10px
}
.left-20 {
    margin-left: -20px
}
.left-30 {
    margin-left: -30px
}
.left-40 {
    margin-left: -40px
}
.left-50 {
    margin-left: -50px
}
.left-60 {
    margin-left: -60px
}
.left-70 {
    margin-left: -70px
}
.left-80 {
    margin-left: -80px
}
.left-90 {
    margin-left: -90px
}
.left-100 {
    margin-left: -100px
}
.right-10 {
    margin-right: -10px
}
.right-20 {
    margin-right: -20px
}
.right-30 {
    margin-right: -30px
}
.right-40 {
    margin-right: -40px
}
.right-50 {
    margin-right: -50px
}
.right-60 {
    margin-right: -60px
}
.right-70 {
    margin-right: -70px
}
.right-80 {
    margin-right: -80px
}
.right-90 {
    margin-right: -90px
}
.right-100 {
    margin-right: -100px
}