/*
cache invalidator 

v=201510021536
*/
@media screen and (max-width:767px) {
    .hide-in-mobile {
        display: none;
    }
    span[id*=ListSection] {
        display: block;
        float: none;
        position: relative;
        height: 100%;
    }
    .header-hero-wrapper.for-boxes .hero, .header-hero-wrapper.for-slices .hero {
        margin-top: 50px;
        min-height: auto;
        background-position: 0 0;
    }
    .header-hero-wrapper.for-boxes .navigation-outter, .header-hero-wrapper.for-slices .navigation-outter {
        padding-bottom: 0;
        background-color: transparent;
        border-bottom: none;
    }
    .header-hero-wrapper.for-boxes .hero.dark:before, .header-hero-wrapper.for-slices .hero.dark:before {
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        position: absolute;
        opacity: .3;
    }
    .header-hero-wrapper.for-boxes .hero.bright:before, .header-hero-wrapper.for-slices .hero.bright:before {
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        position: absolute;
        opacity: .3;
    }
    .section.cta {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section.cta .cta-inner {
        padding: 20px;
        margin: 0;
    }
    .header-hero-wrapper.page-without-hero {
        padding-bottom: 0px;
        height: 90px;
    }
    #accord {
        display: none !important;
    }
    .innovation-apply {
        background: none;
        background-color: #000;
    }
    .benefits span.h3 {
        margin-bottom: 15px
    }
    .benefits span.desc {
        min-height: 0;
        padding: 0 4px 20px 4px;
    }
    .benefits .benefit span {
        font-size: 12px;
    }
    .benefits .benefit {
        margin-bottom: 40px
    }
    .benefits {
        padding-bottom: 20px
    }
    .benefits .osbtn {
        margin-top: 20px;
    }
    .customers-and-experts a span.partner-matrix-entry {
        width: 90px;
    }
    h1 {
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
        margin-bottom: 15px
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 10px
    }
    h3 {
        font-size: 21px;
        line-height: 25px;
        font-weight: 600;
        margin-bottom: 10px
    }
    h4 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 10px
    }
    h5 {
        font-family: 'myriad-pro', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 10px
    }

    /**PartnersMobile*/
    .HeroPartnersPage {
        background: none;
        color: #333;
        top: 0PX;
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    .HeroPartnersPageTitle {
        color: #333;
    }
    .PartnerPageSubtitle {
        text-align: left;
        padding-left: 15px;
        font-size: 14px !important;
        padding-right: 15px;
    }
    .PartnerImage {
        width: 100px;
        display: inline-block !important;
        vertical-align: top !important;
        padding-top: 5px !important;
        padding-bottom: 25px;
    }
    .Partner {
        text-align: center;
    }
    .PartnersPagination {
        padding-top: 20px;
        text-align: center !important;
    }
    .header-hero-wrapper.customers-sublevel-menu {
        height: 50px;
    }

    /**PartnersMobile end*/
    .mobile-only {
        display: block
    }
    .header-hero-wrapper {
        padding-top: 0
    }
    .navigation-outter {
        position: fixed;
        z-index: 9999;
        top: 0
    }
    .MenuSlider_IsOpen .navigation-outter {
        height: 100%
    }
    .navigation-bar-tail-logo {
        margin-left: 0
    }
    .navigation-bar {
        display: none
    }
    .navigation-longtail .span1 {
        display: none
    }
    .navigation-items {
        display: none
    }
    .navigation-longtail-end {
        display: none
    }
    .navigation-longtail {
        height: 50px;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        background-color: #000;
        box-shadow: 0 0 10px 0 #000
    }
    .navigation-bar-tail-spacer {
        width: 100%
    }
    .hero-home-back {
        background-image: none;
        position: relative;
        height: 455px
    }
    .hero-home-back h1 {
        text-align: center
    }
    .hero-home-back .span2 {
        text-align: center;
        float: left;
        width: 150px
    }
    .hero-list {
        width: 292px;
        margin: 0 auto;
        font-size: 20px;
        margin-bottom: 20px
    }
    .header-hero-wrapper.home {
        background: url(/cms_backoffice/assets/201510021536/light-grey-bg-mobile);
        height: 535px;
        box-shadow: inset 0 -14px 10px -8px #CFCFCF
    }
    .osbtn-lg {
        padding: 10px 30px
    }
    .call-out-hero-home {
        padding-top: 50px;
        background-position: center;
        background-image: url(/cms_backoffice/assets/20151215163525/bg-mobile.jpg);
        background-size: cover;
    }
    .call-out-hero-home .highlight {
        min-height: 300px;
    }
    .lead {
        height: auto
    }

    /*get-started*/
    .hero-section-get-started {
        background-image: url(/cms_backoffice/assets/201510021536/light-grey-bg-mobile);
        padding-top: 30px;
        height: 980px;
        overflow: hidden;
        background-position: bottom center;
        background-repeat: repeat;
        box-shadow: inset 0 -14px 10px -8px #CFCFCF
    }
    .getstarted-what-u-get {
        width: 100%;
        padding: 0 20px;
        padding-top: 20px;
        height: 100%;
        box-sizing: inherit
    }
    .arrow-wrapper {
        width: 100%
    }
    .arrow-right {
        border-width: 45px 149px 0;
        border-color: #fff transparent transparent rgba(255, 255, 255, 0);
        margin: 0 auto
    }
    .getstarted-what-cols {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 30px;
        float: none;
        clear: both
    }
    .pad-fix {
        padding-top: 0 !important
    }
    .margin-top-fix {
        margin-top: 0 !important
    }

    /** about section **/
    .sub-navigation-bar {
        display: none
    }
    .header-hero-wrapper.page-company {
        height: 50px;
        background: none
    }
    .header-hero-wrapper.case-studies-category.page-company {
        height: 0px;
    }
    .webinar-list-content {
        width: auto;
        margin-left: 0;
        margin-top: 10px
    }
    .management-box {
        height: auto !important
    }
    .career-caption-wrapper {
        margin-top: 0;
        position: relative
    }
    .col-back {
        height: auto !important;
        margin-bottom: 10px;
        padding-bottom: 10px
    }
    #careers-top {
        margin-top: 0 !important;
        margin-bottom: -30px
    }
    .careers-breadcrumb {
        margin-top: 0px;
    }
    .logos {
        display: none
    }
    .hide-in-mobile {
        display: none
    }

    /** customers **/
    .header-hero-wrapper.customers-hero {
        height: 0;
        margin-top: 50px
    }
    .banner {
        display: none
    }
    .customers-industry-title {
        padding-left: 0;
        background: none;
        background-color: #999;
        height: 50px
    }
    .customers-industry-title h5 {
        text-align: center;
        color: #fff;
        line-height: 50px
    }
    .customer-matrix-entry-nodetail img, .customer-matrix-entry img {
        width: 108px;
        height: auto
    }
    .customer-line-wrapper {
        padding-left: 20px;
        text-align: center
    }
    .case-studies-content {
        margin-top: 80px
    }
    .customers-matrix-entry-details {
        margin-bottom: 10px
    }
    .cs-banner.casestudy {
        background-size: cover !important;
        background-position: center;
        min-width: 100%;
        width: 100%;
        height: 325px
    }
    .header-hero-wrapper.case-studies-detail-new {
        height: 325px
    }
    .cs-title-box {
        height: 325px
    }
    .cs-title-box-topbar {
    }
    .cs-title-box-h-wrapper {
        min-height: 130px;
        padding: 20px 40px;
        width: auto
    }
    .cs-title-box-botbar {
    }
    .cs-title-box-h-wrapper h1 {
        font-size: 21px
    }
    .cs-title-box-botbar-wrapper {
        margin-top: 325px
    }
    .case-study-customer-testimonial-wrapper {
        position: absolute;
        top: 180px;
        right: 0;
        left: 50px;
        width: auto
    }
    .case-study-title-image {
        width: 148px;
        margin-right: 10px
    }
    .case-study-customer-quote-arrow_span12 {
        margin-bottom: 0
    }
    .case-study-customer-author {
        padding-left: 5px
    }
    .case-study-customers-author-name {
        font-size: 12px
    }
    .case-study-customer-testimonial-wrapper img {
        width: 140px;
        height: auto;
        margin-bottom: 10px
    }
    .case-study-screenshot-thumb {
        text-align: center;
        background-position: center bottom
    }
    .case-studies-list-summary {
        max-width: 220px;
        margin: 0 auto;
    }
    .main-quote-background {
        min-height: 165px;
        height: 100% !important
    }
    .main-quote-background:after {
        top: 20px !important
    }

    /** search **/
    .search-overlay {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        display: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        z-index: 99999
    }
    .mobile-search-bar {
        height: 50px;
        background-color: #000;
        line-height: 50px;
        vertical-align: middle
    }
    .mobile-search-body-overlay {
        background-color: gray;
        opacity: .3;
        height: 100%;
        width: 100%
    }
    input.search {
        background-color: #3F3F3F;
        border: 0;
        border-radius: 3px;
        padding: 5px;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        font-size: 16px
    }
    .mobile-search-input {
        margin-top: 15px;
        position: absolute;
        right: 90px;
        left: 15px
    }
    .mobile-search-cancel a {
        color: #CCC;
        font-size: 13px;
        text-decoration: none
    }
    .mobile-search-cancel {
        width: 90px;
        position: absolute;
        display: inline-block;
        text-align: center;
        right: 0
    }
    .mobile-body-no-scroll {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
    .MenuSlider_Toggler {
        display: inline-block;
        top: 0;
        right: 0;
        width: 50px;
        text-align: center
    }
    .Menu_Container {
        margin-bottom: 44px;        /* iphone bottom toolbar */
        width: 100%
    }
    .Application_Menu {
        display: block;
        position: fixed;
        right: -800px;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-left: 45px;        /* Animate the menu when opening and closing */
        transition: all .3s ease-out;        /* Enable hardware acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);        /* reduce animation flickering */
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000px;
        font-family: 'myriad-pro', "Helvetica Neue", Helvetica, Arial, sans-serif
    }
    .Header .Application_Menu {
    }
    .LeftMenu .Application_Menu {
        left: -270px
    }
    .MenuSlider_IsOpen .Application_Menu {
        right: -45px;
        z-index: 2
    }
    .MenuSlider_IsOpen .LeftMenu .Application_Menu {
        left: 0
    }

    /* fix for older versions of android */
    .MenuSlider_IsOpen select {
        z-index: 0
    }
    .Application_Menu .Menu_TopMenu {
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0
    }

    /* the "body >" rule applies only when in design mode, directy on the web block menu */
    body > div.Application_Menu .Menu_DropDownButton, .Application_Menu .Menu_DropDownButton {
        display: block;
        position: relative
    }
    .Application_Menu a, .Application_Menu a:link, .Application_Menu a:visited {
        display: inline-block;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #262626;
        box-sizing: border-box;
        font-size: 16px;
        position: relative
    }
    .Application_Menu .Menu_DropDownPanel {
        position: static;
        border: 0;
        margin: 0;
        padding: 0;
        background-color: #262626;
        box-shadow: none;
        border-bottom: 0
    }
    .Application_Menu .Menu_DropDownPanel a, .Application_Menu .Menu_DropDownPanel a:link, .Application_Menu .Menu_DropDownPanel a:visited {
        border-bottom: 1px solid #3A3A3A
    }
    .Application_Menu .Menu_DropDownArrow {
        position: absolute;
        right: 120px;
        top: 21px
    }

    /* create an overlay so that you can close the menu on click (body) */
    .MenuSlider_Toggler_Overlay {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        display: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    }
    .MenuSlider_Toggler_Overlay2 {
        height: 100%;
        margin-left: -50px;
        display: inline-block;
        width: 100%
    }
    .MenuSlider_IsOpen .MenuSlider_Toggler_Overlay {
        display: block
    }
    .MenuSlider_IsOpen .content-layout-simplify {
        height: 100%;
        overflow: hidden
    }
    .header-hero-wrapper {
        min-width: 0
    }
    .separator-line {
        width: 100%;
        background-size: contain;
        padding: 0
    }
    .cs-blue-box-right {
        margin-left: 25px;
        margin-top: 20px
    }
    .press-list-title {
        margin-bottom: -5px
    }
    .press-list-item-left {
        margin-bottom: 25px
    }
    .wrap-link {
        width: 100%
    }

    /** landings **/
    .lp-heading {
        font-size: 30px;
        line-height: 34px;
        margin-top: 70px
    }
    .pxs_navigation {
        position: relative;
        display: block;
        height: 0
    }
    .pxs_navigation span {
        width: 43px;
        height: 61px;
        display: block;
        position: absolute;
        top: -120px;
        cursor: pointer;
        opacity: .3
    }
    .pxs_navigation span:hover {
        opacity: 1
    }
    .pxs_prev {
        background: url(/cms_backoffice/assets/201510021536/icons);
        background-repeat: no-repeat;
        background-position: -20px -2037px;
        left: -10px
    }
    .pxs_next {
        background: url(/cms_backoffice/assets/201510021536/icons);
        background-repeat: no-repeat;
        background-position: -20px -2107px;
        right: -10px
    }
    .how-first-section {
        background: url(/cms_backoffice/assets/201510021536/light-grey-bg-mobile)
    }
    .how-bg-gray-dark {
        background: url(/cms_backoffice/assets/201510021536/dark-grey-bg-mobile)
    }
    .how-bg-gray-light {
        background: url(/cms_backoffice/assets/201510021536/light-grey-bg-mobile)
    }
    .case-study-title-image img {
    }
    .pricing-feature-image {
        float: left;
        margin-right: 20px
    }
    .pricing-feature-text {
        margin-left: 80px;
        display: table-cell
    }
    .case-study-customer-testimonial {
        float: none;
        width: 100%;
        display: inline
    }
    .case-study-customer-quote {
        width: 23px;
        height: 20px;
        background-size: cover;
        margin-top: 15px
    }
    .case-study-customer-testimonial > h3 {
        font-size: 17px;
        line-height: 20px;
        min-height: 115px
    }
    .case-study-customer-logo {
        position: relative !important;
        text-align: center;
        margin-bottom: 10px
    }
    .case-study-title-video-link, .case-study-title-video-link:link, .case-study-title-video-link:hover, .case-study-title-video-link:visited {
        position: relative;
        display: inline-block;
        bottom: 0;
        margin-bottom: 10px;
        left: 50%;
        margin-left: -95px
    }
    .cs-innovation-award-winner-badge {
        right: -10px;
        top: -278px
    }
    .innovation-submission-project-step1 {
        margin-left: 0px;
        background-size: 20px;
        height: auto;
    }
    .innovation-submission-project-step2 {
        margin-left: 0px;
        background-size: 20px;
        height: auto;
    }
    .innovation-submission-project-steps-content {
        display: inline-block;
        left: 30px;
        top: 0px;
    }
    div.cs-title-box-botbar-wrapper > div.no-image > div.case-study-customer-testimonial > div.case-study-customer-logo {
        position: relative !important;
        float: right;
        margin-top: 10px
    }
    div.cs-title-box-botbar-wrapper > div.no-image > div.case-study-customer-testimonial > h3 {
        min-height: 0
    }
    .cs-title-box-h-wrapper h1 {
        padding: 0
    }
    .submenuhover {
        display: inline;
        position: relative;
        top: 0;
        margin-left: 0;
        margin-right: 0;        /* background: url('/cms_backoffice/assets/201510021536/mobile_solutions_img'); */

        /* background-repeat: no-repeat; */

        /* background-position: right 70px; */

        width: auto

        /* padding-right: 10px; */
    }
    .submenuhoverbox {
        position: relative;
        padding: 0;
        box-shadow: none;
        background-color: transparent;
        background: none;
        height: 100%;
        z-index: 0
    }
    .submenuhoverbox.solutions {
        margin-top: 80px;
    }
    .submenuhoverbox-firstcontent {
        margin: 0;
        float: none;
        padding-bottom: 30px
    }
    .submenuhoverbox-line {
        display: none
    }
    .submenuhoverbox-secondcontent {
        width: auto;
        float: none;
        margin: 0;
        margin-bottom: 20px
    }
    .submenuhoverbox-thirdcontent {
        width: auto;
        float: none;
        margin-left: 0
    }

    /** solutions **/
    .solution-all-hero {
        height: 750px;
        background-size: cover;
        padding-top: 50px
    }
    .solutions-all-box .top-image {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px
    }
    .solutions-all-box .text-block {
        padding-left: 15px;
        padding-right: 15px
    }
    #solutions-content .solutions-all-box .logos {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 50px
    }
    #solutions-content .solutions-all-box .logos img {
        width: auto;
        max-height: 50px
    }
    .solutions-cta-bar {
        display: none
    }
    .solutions-all-index {
        display: block
    }
    .solutions-all-index li:nth-child(even) {
        background-color: #fff
    }
    .solutions-all-index li:nth-child(odd) {
        background-color: #F0F0F0
    }
    .solutions-all-index li {
        padding: 5px 20px
    }
    .solutions-index-anchor {
        padding-top: 60px;
        margin-top: -60px;
        display: inline-block
    }
    .solutions-index-toggler {
        display: block;
        position: relative;
        line-height: 30px;
        padding-left: 10px
    }
    a.solutions-index-toggler {
        color: #c20;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 5px
    }
    .solutions-index-toggler .osicon-close {
        position: absolute;
        right: 15px;
        width: 16px;
        height: 16px
    }
    .solution-all-hero.open {
        height: 770px
    }
    .solution-all-hero.closed {
        height: 345px
    }
    .solution-hero {
        padding-top: 50px;
        height: 320px
    }
    .solutions-single-box .text-block {
        padding-left: 0;
        width: 100%
    }
    .solutions-single-box {
        padding-left: 10px;
        padding-right: 10px
    }
    .solution-hero p {
        font-size: 16px;
        text-align: left
    }
    a.solutions-index-toggler.closed > .osicon-close {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);        /* Animate the menu when opening and closing */
        transition: all .3s ease-out
    }
    a.solutions-index-toggler.open > .osicon-close {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);        /* Animate the menu when opening and closing */
        transition: all .3s ease-out
    }
    .pull-me-right {
        float: none
    }
    .button-isotype-group .button-isotype {
        float: none;
        margin-bottom: 10px
    }
    .highlight-box-inner h5 {
        font-weight: 600
    }
    .landing-slim-content-wrapper {
        padding-top: 100px
    }
    .m-carousel {
        position: relative;
        overflow: hidden;
        -webkit-font-smoothing: antialiased
    }
    .m-carousel.m-left {
        text-align: left
    }
    .m-carousel.m-center {
        text-align: center
    }
    .m-carousel.m-fluid>.m-carousel-inner>* {
        width: 100%
    }
    .m-carousel.m-fluid.m-center>.m-carousel-inner>:first-child {
        margin-left: 0
    }
    .m-carousel.m-fluid-2>.m-carousel-inner>* {
        width: 50%
    }
    .m-carousel.m-fluid-2.m-center>.m-carousel-inner>:first-child {
        margin-left: 25%
    }
    .m-carousel.m-fluid-3>.m-carousel-inner>* {
        width: 33.333%
    }
    .m-carousel.m-fluid-3.m-center>.m-carousel-inner>:first-child {
        margin-left: 33.333%
    }
    .m-carousel.m-fluid-4>.m-carousel-inner>* {
        width: 25%
    }
    .m-carousel.m-fluid-4.m-center>.m-carousel-inner>:first-child {
        margin-left: 37.5%
    }
    .m-carousel.m-fluid-5>.m-carousel-inner>* {
        width: 20%
    }
    .m-carousel.m-fluid-5.m-center>.m-carousel-inner>:first-child {
        margin-left: 40%
    }
    .m-carousel.m-fluid-6>.m-carousel-inner>* {
        width: 16.667%
    }
    .m-carousel.m-fluid-6.m-center>.m-carousel-inner>:first-child {
        margin-left: 41.667%
    }
    .m-carousel img {
        -ms-interpolation-mode: bicubic
    }
    .m-carousel-inner {
        position: relative;
        white-space: nowrap;
        text-align: left;
        font-size: 0;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.33, .66, .66, 1);
        transition-duration: .5s
    }
    .m-carousel-inner>* {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        font-size: 16px
    }
    .m-fluid>.m-carousel-inner>* {
        box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }
    .m-center:not(.m-fluid)>.m-carousel-inner {
        display: inline-block;
        margin-right: -20000px !important;
        margin-left: 0 !important
    }
    .m-center:not(.m-fluid)>.m-carousel-inner>* {
        position: relative;
        left: -20000px
    }
    .m-center:not(.m-fluid)>.m-carousel-inner>:first-child {
        float: left;
        margin-right: 20000px;
        left: 0
    }
    .m-center:not(.m-fluid)>.m-carousel-inner>:first-child:last-child {
        margin-right: 0
    }
    .m-center:not(.m-fluid)>.m-carousel-inner>:last-child {
        margin-right: -30000px
    }
    .m-carousel-controls {
        padding-top: 10px;
        text-align: center
    }
    .m-carousel-controls a {
        padding: 5px;
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -moz-user-drag: -moz-none;
        user-drag: none
    }
    .m-carousel-bulleted a {
        line-height: 0;
        text-decoration: none;
        text-indent: -999px;
        overflow: hidden;
        display: inline-block;
        padding: 6px;
        width: 0;
        height: 0;
        margin: 0 3px;
        color: #333;
        background-color: rgba(255, 255, 255, .3);
        transition: background-color .1s ease-in;
        box-shadow: inset rgba(0, 0, 0, .25) 0 1px 2px;
        border-radius: 6px
    }
    .m-carousel-bulleted a:focus, .m-carousel-bulleted a:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, .6)
    }
    .m-carousel-bulleted a.m-active {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: rgba(0, 0, 0, .25) 0 1px 2px
    }
    .m-carousel-pagination {
        padding-top: 10px
    }
    .m-carousel-pagination a {
        text-decoration: none;
        display: inline-block;
        padding: 3px 10px;
        margin: 1px 0;
        color: #333;
        background-color: rgba(255, 255, 255, .3);
        transition: background-color .1s ease-in;
        border-radius: 2px
    }
    .m-carousel-pagination a:focus, .m-carousel-pagination a:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, .6)
    }
    .m-carousel-pagination a.m-active {
        background-color: rgba(255, 255, 255, 1)
    }
    .m-carousel-hud {
        padding-top: 0
    }
    .m-carousel-hud a {
        z-index: 2;
        opacity: 0;
        display: block;
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        margin: -25px 0 0;
        padding: 0;
        text-decoration: none;
        text-indent: -999px;
        overflow: hidden;
        color: rgba(255, 255, 255, .8);
        background: rgba(0, 0, 0, .8);
        transition: opacity .1s ease-in;
        border-radius: 25px
    }
    .m-carousel:hover .m-carousel-hud a {
        opacity: .3
    }
    .m-carousel .m-carousel-hud a:focus, .m-carousel .m-carousel-hud a:hover {
        opacity: 1
    }
    .m-carousel-hud a:after {
        color: rgba(255, 255, 255, .85);
        content: "\25c0";
        font-size: 25px;
        font-weight: 700;
        text-indent: 0;
        text-align: center;
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        width: 47px;
        height: 50px;
        z-index: 9
    }
    .m-carousel-hud .m-carousel-prev {
        left: 10px
    }
    .m-carousel-hud .m-carousel-next {
        right: 10px
    }
    .m-carousel-hud .m-carousel-next:after {
        left: auto;
        right: 0;
        content: "\25b6"
    }
    .m-caption {
        margin: 0;
        padding: 10px;
        height: auto;
        text-align: center
    }
    .m-scaled .m-item {
        opacity: .7;
        -webkit-backface-visibility: hidden;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
        -webkit-transition: -webkit-transform cubic-bezier(0.33, .66, .66, 1) .25s, opacity ease-out .25s;
        transition-timing-function: transform cubic-bezier(0.33, .66, .66, 1) .25s, opacity ease-out .25s
    }
    .m-scaled .m-active {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    .m-fluid .m-item {
        margin-bottom: 0
    }
    .m-carousel-photos {
    }
    .m-carousel-photos .m-item>img {
        margin: 0;
        padding: 0;
        max-width: none;
        width: 100%;
        height: auto;
        -o-box-shadow: rgba(0, 0, 0, .5) 0 5px 10px;
        -ms-box-shadow: rgba(0, 0, 0, .5) 0 5px 10px;
        box-shadow: rgba(0, 0, 0, .5) 0 5px 10px
    }
    .m-carousel-photos .m-caption {
        background: rgba(0, 0, 0, .7);
        bottom: 0;
        position: absolute;
        z-index: 9;
        width: 100%;
        box-sizing: border-box
    }
    .m-card-dark, .m-card-light {
        padding: 20px;
        border-radius: 6px;
        -o-box-shadow: rgba(0, 0, 0, .5) 0 5px 10px;
        -ms-box-shadow: rgba(0, 0, 0, .5) 0 5px 10px;
        box-shadow: rgba(0, 0, 0, .5) 0 5px 10px
    }
    .m-card-dark {
        background: rgba(0, 0, 0, .5);
        color: #FFF
    }
    .m-card-light {
        background: rgba(255, 255, 255, .9);
        color: #000
    }
    .m-card-dark .m-caption, .m-card-light .m-caption {
        margin: 0;
        padding: 10px 0 0
    }
    .m-fade-out {
        -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%)
    }
    .apps-top .image-holder {
        position: relative;
        right: 0;
        top: 0;
    }
    .apps-top {
        margin-bottom: 0;
    }
    .header-hero-wrapper.apps-home-hero {
        margin-top: 80px;
    }
    .osicon-arrow-down.apps-icon-toggle, .osicon-arrow-up.apps-icon-toggle {
        display: table-cell;
        position: absolute;
        right: 0;
        top: 5px;
    }
    .apps-body h2 {
        font-size: 21px;
        display: inline-block;
        position: relative;
        width: 100%;
        color: #0088cc;
        cursor: pointer;
    }
    .apps-mobile-toggle-sales, .apps-mobile-toggle-intra {
        display: none;
    }
    .apps-body h2 {
        margin-bottom: 0;
    }
    .apps-body {
        padding-top: 20px;
        border-top: 1px solid #C2C2C2;
    }
    .header-hero-wrapper {
    }
    .submenuhoverbox-firstcontent.light-back a, .submenuhoverbox-secondcontent.mobile-back a {
        padding-left: 100px;
    }
    .submenuhoverbox-firstcontent {
        display: inline-block;
        text-align: left;
        width: 100%;
        margin-left: 0;
        float: none;
        margin-top: 0;
        background-position: 0px 33px;
        background-size: 90px auto;
        margin-top: -30px;
        padding-bottom: 0;
        margin-bottom: -20px;
    }
    .submenuhoverbox-secondcontent {
        display: inline-block;
        text-align: left;
        width: 100%;
        margin-left: 0;
        float: none;
        margin-top: 0;
        background-position: -2px 16px;
        background-size: 95px auto;
    }
    .call-out-hero-home .featured {
        display: none;
    }
    .what-is-it {
        display: none;
    }
    h1.slogan {
        margin-top: 20px;
    }
    h3.description {
        padding-top: 10px;
    }
    .call-out-hero-home a.osbtn.osbtn-red.popup_link {
        margin-bottom: 0;
    }
    .benefits h2 {
        display: none;
    }
    .benefits .benefit {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
    .benefits .benefit.bordered {
        border: none;
    }
    .photo-quotes {
        display: none;
    }
    .customers-and-experts {
        padding-top: 0;
    }
    .customers-and-experts img {
        height: auto !important;
        width: auto !important;
    }
    .second-level-menu-wrapper {
        display: none;
    }
    .arch-instructions .parallax {
        background: none !important;
    }
    .customers-and-experts a span.customer-matrix-entry {
        width: 90px;
    }
}

/* Landscape */
@media only screen and (max-device-width:767px) and (orientation:landscape) {
    .row.InovationCards {
        padding: 0px 10%;
    }
    .benefits span.h3 {
        margin-bottom: 15px
    }
    .benefits span.desc {
        min-height: 0;
        padding: 0 4px 20px 4px;
    }
    .benefits .benefit span {
        font-size: 12px;
    }
    .benefits .benefit {
        margin-bottom: 40px
    }
    .benefits {
        padding-bottom: 20px
    }
    .benefits .osbtn {
        margin-left: 20px;
    }
    .customers-and-experts a span.partner-matrix-entry {
        width: 90px;
    }
    div.case-study-landscape-landscape {
        display: block
    }
    div.case-study-landscape-portrait {
        display: none
    }

    /**PartnersMobile*/
    .HeroPartnersPage {
        background: none;
        color: #333;
        top: 0PX;
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    .HeroPartnersPageTitle {
        color: #333;
    }
    .PartnerPageSubtitle {
        text-align: left;
        padding-left: 15px;
        font-size: 14px !important;
        padding-right: 15px;
    }
    .PartnerImage {
        width: 100px;
        display: inline-block !important;
        vertical-align: top !important;
        padding-top: 5px !important;
        padding-bottom: 25px;
    }
    .Partner {
        text-align: center;
    }
    .PartnersPagination {
        padding-top: 20px;
        text-align: center !important;
    }
    .header-hero-wrapper.customers-sublevel-menu {
        height: 50px;
    }

    /**PartnersMobile end*/
    .magiccontainer {
        margin: 0 auto;
        width: 320px
    }
    .hero-home-back {
        height: 415px
    }
    .header-hero-wrapper.home {
        height: 495px
    }
    .hero-section-get-started {
        height: 820px
    }
    .cs-innovation-award-winner-badge {
        right: -10px;
        top: -225px
    }
    .cs-title-box-h-wrapper {
        min-height: 0;
        padding: 20px 40px;
        width: auto
    }
    .popup-mobile-back {
        height: auto !important
    }
    .hero-home-back .span2 {
        width: 150px
    }
    .getstarted-what-cols {
        line-height: 40px;
        margin-bottom: 0
    }
    .solution-all-hero {
        height: 680px
    }
    .solution-all-hero.open {
        height: 670px
    }
    .solution-all-hero.closed {
        height: 235px
    }
    .solution-hero {
        height: 185px
    }
    .apps-body .span3 {
        width: 224px;
        float: left;
        margin-left: 0;
        margin-right: 5px;
    }
}

/* portrait */
@media only screen and (max-device-width:767px) and (orientation:portrait) {
    .innovation-case-study-preview:after {
        bottom: -25px;
    }
    .innovation-case-study-canitbeyou:after {
        bottom: -25px;
    }
    .benefits span.h3 {
        margin-bottom: 15px
    }
    .benefits span.desc {
        min-height: 0;
        padding: 0 4px 20px 4px;
    }
    .benefits .benefit span {
        font-size: 12px;
    }
    .benefits .benefit {
        margin-bottom: 40px
    }
    .benefits {
        padding-bottom: 20px
    }
    .customers-and-experts a span.partner-matrix-entry {
        width: 90px;
    }
    div.case-study-landscape-landscape {
        display: none
    }
    div.case-study-landscape-portrait {
        display: block
    }

    /**PartnersMobile*/
    .HeroPartnersPage {
        background: none;
        color: #333;
        top: 0PX;
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    .HeroPartnersPageTitle {
        color: #333;
    }
    .PartnerPageSubtitle {
        text-align: left;
        padding-left: 15px;
        font-size: 14px !important;
        padding-right: 15px;
    }
    .PartnerImage {
        width: 100px;
        display: inline-block !important;
        vertical-align: top !important;
        padding-top: 5px !important;
        padding-bottom: 25px;
    }
    .Partner {
        text-align: center;
    }
    .PartnersPagination {
        padding-top: 20px;
        text-align: center !important;
    }
    .header-hero-wrapper.customers-sublevel-menu {
        height: 50px;
    }

    /**PartnersMobile end*/
}

/**to fix companie logos position on website*/
@media only screen and (min-device-width:767px) {
    .case-study-customer-logo {
        bottom: 10px
    }

    /**PartnersMobile*/
    .HeroPartnersPage {
        background: none;
        color: #333;
        top: 0PX;
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    .HeroPartnersPageTitle {
        color: #333;
    }
    .PartnerPageSubtitle {
        text-align: left;
        padding-left: 15px;
        font-size: 14px !important;
        padding-right: 15px;
    }
    .PartnerImage {
        width: 100px;
        display: inline-block !important;
        vertical-align: top !important;
        padding-top: 5px !important;
        padding-bottom: 25px;
    }
    .Partner {
        text-align: center;
    }
    .PartnersPagination {
        padding-top: 20px;
        text-align: center !important;
    }
    .header-hero-wrapper.customers-sublevel-menu {
        height: 50px;
    }

    /**PartnersMobile end*/
}